# Jupyter lab
jupyterlab==3.6.3
# Outras
pydantic==1.10.7
httpx==0.24.0
# Testes
pytest==5.4.1
pytest-cov==2.8.1
# Banco de dados
mysql-connector==2.2.9
psycopg2-binary==2.9.6
pymongo==3.10.1
